body {
    padding: 0;
    background: rgb(40,34,141);
    background: linear-gradient(90deg, rgba(40,34,141,1) 0%, rgba(132,25,99,1) 35%, rgba(113,0,255,1) 100%); 
    overflow: hidden;
}

iframe.content {
    width: 100vw;
    height: 100vh;
    /* width: calc(100vw + 1px);
    height: calc(100vh + 1px); */
    /* margin-top: -8px;
    margin-left: -8px; */
}